@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.language {
  position: fixed;
  z-index: 1;
  right: 30px;
  top: 10px;
  border-radius: 7px;
  padding: 5px;
}

.contact {
  background: url(./assets/images/ban6666.jpg) no-repeat 0px 0px;
  background-size: cover;
  min-height: 750px;
  position: relative;
  .infor {
    background: url(./assets/images/dott.png) repeat 0px 0px;
    background-size: 2px;
    min-height: 750px;
    .avatar {
      border: 5px solid rgba(238, 238, 238, 0.53);
      width: 400px;
      height: 400px;
      position: absolute;
      top: 120px;
      left: 180px;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 50px auto;
      }
      p {
        text-align: center;
      }
    }
    .inforContact {
      position: absolute;
      top: 190px;
      right: 120px;
      a:hover {
        text-decoration: none;
      }
    }
  }
  .iconArrow {
    padding: 8px 2px;
    // transition: padding 0.3s linear;
    animation-name: arrowDown;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
  }
  // .iconArrow:hover {
  //   padding: 16px 2px;
  // }
}

@keyframes arrowDown {
  from {
    padding: 8px 2px;
  }
  to {
    padding: 16px 2px;
  }
}

.skills {
  background-image: url(./assets/images/skill2.jpg);
  background-size: cover;
  min-height: 700px;
  padding-top: 75px;
  h3 {
    border: solid 1.5px royalblue;
    border-radius: 8px;
  }
  p {
    font-size: 22px;
  }
  .title_skills {
    width: 100%;
  }
}

.ex_edu {
  background: #212121;
  min-height: 600px;
  .experiences {
    max-width: 500px;
  }
  .education {
    max-width: 500px;
  }
}

.myProject {
  min-height: 600px;
  a {
    font-weight: 600;
    font-size: 20px;
  }
  a:hover {
    text-decoration: none;
  }
}

.Footer {
  min-height: 250px;
  a {
    display: inline-block;
    margin-top: 85px;
  }
  a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1200px) {
  .contact {
    .infor {
      .avatar {
        width: 380px;
        height: 380px;
        top: 90px;
        left: 160px;
      }
      .inforContact {
        top: 140px;
        right: 60px;
      }
    }
  }
  .myProject {
    .taskify {
      img {
        max-width: 900px;
      }
    }
  }
}
@media (max-width: 992px) {
  .contact {
    .infor {
      .avatar {
        width: 350px;
        height: 350px;
        top: 80px;
        left: 80px;
      }
      .inforContact {
        top: 140px;
        right: 30px;
        max-width: 30rem;
      }
    }
  }
  .ex_edu {
    padding-left: 20px;
    .experiences {
      max-width: 450px;
      margin-right: 25px;
    }
    .education {
      margin-right: 5px;
    }
  }
  .myProject {
    .des {
      max-width: 50%;
      margin-right: 20px;
    }
    .taskify {
      img {
        max-width: 700px;
      }
    }
  }
  .skills {
    .skill {
      .FrontEnd {
        h4 {
          left: 0.25rem;
          top: -0.75rem;
        }
      }
      .BackEnd {
        .frameworks {
          left: 8rem;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .contact {
    .infor {
      .avatar {
        width: 300px;
        height: 300px;
        top: 100px;
        left: 25px;
        img {
          margin: 25px auto;
        }
      }
      .inforContact {
        right: 10px;
        max-width: 26rem;
      }
    }
  }
  .aboutMe {
    img {
      max-width: 40%;
      height: fit-content;
      margin-top: 50px;
    }
  }
  .myProject {
    .taskify {
      img {
        max-width: 500px;
      }
    }
  }
  .skills {
    .title_skills {
      width: 83%;
      margin-left: 1rem;
      h3 {
        padding: 10px;
        margin-right: 10px;
      }
    }
    .skill {
      .FrontEnd {
        h4 {
          position: absolute;
          top: -25px;
          left: 6px;
        }
      }
      .BackEnd {
        .frameworks {
          position: relative;
          left: 80px;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .contact {
    .infor {
      .inforContact {
        right: 20px;
        max-width: 15rem;
      }
    }
  }
  .skills {
    padding-right: 25px;
    .title_skills {
      margin-left: -15px;
      h3 {
        font-size: 27px;
      }
    }
    .skill {
      .FrontEnd {
        .frameworks {
          padding-left: 6rem;
        }
        .other {
          padding-left: 5rem;
        }
      }
      .BackEnd {
        .frameworks {
          margin-left: -5rem;
        }
      }
    }
  }
  .myProject {
    .taskify {
      img {
        max-width: 350px;
      }
    }
  }
}
@media (max-width: 400px) {
  .contact {
    .infor {
      .avatar {
        width: 300px;
        height: 300px;
        top: 50px;
        left: 40px;
      }
      .inforContact {
        top: 400px;
        left: 50px;
      }
    }
  }
  .aboutMe {
    img {
      display: none;
    }
  }
  .skills {
    padding-right: 1px;
    .title_skills {
      width: 100%;
      h3 {
        font-size: 11px;
      }
      margin-left: 1px;
    }
    padding-bottom: 30px;
    .skill {
      .FrontEnd {
        h4 {
          top: 3px;
          left: 3px;
        }
        .languages {
          position: absolute;
          top: 30px;
          left: 6px;
        }
        .frameworks {
          padding-left: 0px;
          margin-bottom: 0px;
        }
        .other {
          position: absolute;
          top: 10px;
          right: 1px;
          width: 30%;
          padding-left: 0px;
        }
      }
      .BackEnd {
        margin-left: 2px;
        h4 {
          margin-left: 0px;
        }
        .languages {
          position: absolute;
          top: 30px;
          left: 20px;
        }
        .frameworks {
          position: absolute;
          top: 30px;
          left: 211px;
        }
      }
      p {
        font-size: 11px;
      }
      flex-direction: column;
    }
  }
  .ex_edu {
    flex-direction: column;
    .experiences {
      margin-bottom: 30px;
    }
  }
  .myProject {
    .des {
      max-width: 100%;
    }
    img {
      display: none;
    }
  }
}
